@font-face {
    font-family: Roboto-Condensed;
    src: url('/vue/src/fonts/RobotoCondensed-Regular.ttf');
}



body{
    font-family: Roboto-Condensed;
}




.notes-table>div:first-child {
    /* background-color: red; */
}
.notes-table>div:nth-child(2) {
    /* background-color: blue; */
}
.notes-table>div:last-child {
    /* background-color: yellow; */
}

.notes-table-container {
 width: 100%;   
 border: 1px solid black;
}