@font-face {
    font-family: 'Roboto-Condensed';
    src: url("../src/fonts/RobotoCondensed-Regular.ttf");
}

body {
    font-family: 'Roboto-Condensed';
}


.task-card{
    background: #c2d650;
}
.board-columns{
    display: flex;
    min-height: 600px;
}
.kanban-column{
    background: #f7ffdf;
    display: flex;
    flex-direction: column;
}
.tasks-container{
    flex: 1;
}
.task-card{
    background: #ffc3c3;
}
.task-card{
    background: #ffc3c3;
}
.task-description{
    font-size: 1rem;
}
.task-info{

}
.overdue-badge{
    color: red;
    font-weight: bold;
}











.app-conteainer {
    display: flex;
    flex-direction: column;
}

.notes-table {
    display: flex;
    width: 100%;
    height: 80vh;
    flex: 1 1 calc(33.333% - 10px);
}

.column1 {
    background-color: red;
}

.column2 {
    background-color: blue;
}

.column3 {
    background-color: rgb(60, 255, 0);
}

.notes-table-container {
    width: 100%;
    border: 1px solid black;
}

.notes-table-container ul {
    list-style: none;
    padding: 0;
}

.notes-table-container li {
    transition: transform 0.2s ease, opacity 0.2s ease;
}

.notes-table-container h2 {
    text-align: center;
}

.notes-table-container.locked {
    opacity: 0.6;
    pointer-events: none;
}

.notes-adding {
    align-self: center;
}

.notes-adding-list {
    list-style: none;
}

input[type="text"].inputNotFilled {
    border: 2px solid red;
}




.note {
    align-self: center;
    background-color: aqua;
    width: 90%;
}

.note-list,
.notes-table {
    list-style: none;
}

.note-list li {
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.note-list li.completed label {
    text-decoration: line-through;
    color: gray;
}

.progress-text {
    font-size: 0.9em;
    color: #242424;
}


.notification-container {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

.notification-content {
    background: rgb(248, 16, 16);
    padding: 15px;
    display: flex;
    align-items: center;
    width: 600px;
    animation: slideDown 0.5s forwards, slideUp 0.5s 2.5s forwards;
}

.notification-image {
    width: 300px;
    height: 300px;
    margin-right: 10px;
}

.notification-message {
    margin: 0;
    font-size: 24px;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes slideUp {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-100%);
    }
}